@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Slab";
  src: url("/assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

:root {
  --color-primary: #95D9DA;
  --color-secondary: #6DD6DA;
  --color-tertiaty: #A2ABB5; 
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
